<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-info"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<ul *ngIf="dataLoaded == true" class="list-group">
  <li
    (click)="nullCurrentColor()"
    [class]="getCurrentAllColorClass()"
    routerLink="/cars"
    class="p-3 mb-2 bg-dark bg-gradient text-white"
    aria-current="true"
  >
    Tüm Renkler
  </li>

<div class="mb-3" >
  <ul class="list-group"></ul>
    <label for="filterText" class="form-label">Renk Ara</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="arama ifadesi giriniz">
  </div>
  <div *ngIf="filterText.length>2" class="alert alert-info">
    {{filterText}} aradınız
  </div>

    <li  
      (click)="setCurrentColor(color)"
      routerLink = "/cars/colors/{{color.colorId}}"
      *ngFor="let color of colors"
      [class]="getCurrentColorClass(color)"
    >
      {{color.colorName}}
    </li>
  </ul>
  
