<div class="mb-3">
  <label for="filterText" class="form-label">Marka Ara</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="arama ifadesi giriniz">
</div>
<div *ngIf="filterText.length>2" class="alert alert-primary">
  {{filterText}} aradınız
</div>

<ul class="list-group">
  <li
    (click)="setCurrentBrand(brand)"
    routerLink = "/cars/brands/{{brand.brandId}}"
    *ngFor="let brand of brands| brandFilter:filterText"
    [class]="getCurrentBrandClass(brand)"
  >
    {{ brand.brandName }}
  </li>
</ul>


