<div *ngIf="dataLoaded" class="row mt-4">
  <div class="col-md-7">
    <div id="carImageSlide" class="carousel slide" data-bs-ride="carousel">
      <div
        class="carousel-inner d-flex"
        style="height: 50vh; min-height: 20rem; max-height: 30rem"
      >
        <div class="carousel-inner">
          <div
            *ngFor="let image of images; let i = index"
            [ngClass]="getSliderClassName(i)"
            data-bs-interval="3000"
          >
            <img
              src="{{ imageUrl }}/{{ image.imagePath }}"
              class="img-fluid"
              width="800"
              height="400"
              alt="..."
            />
          </div>
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carImageSlide"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carImageSlide"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div *ngIf="car" class="card">
      <div class="card-header p-3 mb-2 bg-dark bg-gradient text-white" >Araba Detayları</div>
      <ul class="list-group list-group-flush" *ngIf="car">
        <li class="list-group-item">Marka : {{ car.brandName }}</li>
        <li class="list-group-item">Model : {{ car.carName }}</li>
        <li class="list-group-item">Renk : {{ car.colorName }}</li>
        <li class="list-group-item">
          Model Yılı : {{ car.modelYear }}
        </li>
        <li class="list-group-item">
          Günlük Fiyat : {{car.dailyPrice | currency: "₺"}}
        </li>
      </ul>
      <div class="card-footer">
      <div class="card-body" >

        <app-rental-add [car]="car"></app-rental-add>
        
        <button class="btn btn-primary float-end"  routerLink="/cars"
        (click)="getBack()"  style="background: rgb(0, 134, 139)">
          Geri&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-backspace-fill" viewBox="0 0 18 20">
            <path d="M15.683 3a2 2 0 0 0-2-2h-7.08a2 2 0 0 0-1.519.698L.241 7.35a1 1 0 0 0 0 1.302l4.843 5.65A2 2 0 0 0 6.603 15h7.08a2 2 0 0 0 2-2V3zM5.829 5.854a.5.5 0 1 1 .707-.708l2.147 2.147 2.146-2.147a.5.5 0 1 1 .707.708L9.39 8l2.146 2.146a.5.5 0 0 1-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 0 1-.707-.708L7.976 8 5.829 5.854z"/>
          </svg>
        </button>
      </div>
    </div>
    </div>
    <br />
  </div>
</div>


